.tab-container {
    width: 60%;
    float: left;
}

#word-cloud {
    width: 40%;
    float: right;
}

@media (max-width: 768px) {
    #tab-container, #word-cloud {
        width: 100%;
        float: none;
    }
}
